.NavBar {
  background-color: rgb(22, 24, 26);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.NavBar-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 4rem;
  margin-bottom: 0;
}

.NavBar-title {
  font-size: 1.5rem;
  color: white;
}

.NavBar-list > a,
.NavBar-title {
  margin: 0 2rem;
  color: white;
}