.App {
  text-align: center;
}

.App-alert {
  position: absolute;
  top: 2rem;
}

.App-author {
  font-weight: 600;
}

.App-update {
  color: rgb(103, 165, 103);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
