.App {
  text-align: center;
}

.App-alert {
  position: absolute;
  top: 2rem;
}

.App-author {
  font-weight: 600;
}

.App-update {
  color: rgb(103, 165, 103);
}

.App-server-error {
  color: white;
  background-color: rgb(236, 102, 102);
  border-radius: 5px;
  position: absolute;
  padding: 0.5rem 1rem;
  top: 4rem;
  z-index: 10;
  width: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
