.Register-hero-container {
  text-align: left;
  padding: 2rem 0;
  background-color: rgb(46, 45, 49);
  color: rgb(255, 255, 255);
  height: fit-content;
}

.Register-hero-text {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.Register-hero-title {
  margin: 0;
}

.Register-title-text {
  font-size: 2.5rem;
  font-weight: 600;
}

.Register-hero-title > p {
  margin: 0;
}

.Register-hero-desc {
  margin: 0.5rem 0;
}

.Register-hero-img-container {
  height: 25rem;
}

.Register {
  height: 100%;
  min-height: 100vh;
}